<% if @article.errors.any? %>
    <h2>
        <%= pluralize(@article.errors.count, 'error') + " prohibited to save the article" %>
    </h2>
    <ul>
        <% @article.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ul>
<% end %>
<%= form_for @article do |f| %>
<p>
    <%= f.label :title, "Enter Title" %>
    <%= f.text_field :title %>
</p>
<p>
    <%= f.label :description, "Enter Description" %>
    <%= f.text_area :description %>
</p>
<p>
    <%= f.submit %>
</p>
<% end %>

<p><%= link_to  "Back", articles_path %></p>
